@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: 92%;
  max-width: 1400px;
}

.custom-padding {
  padding-left: 48px;
  padding-right: 48px;
}

input, textarea {
  border: 1px solid #0077FF;
  padding: 8px 12px;
  border-radius: 24px;
  font-size: medium;
  margin-left: -12px;
  background-color: #F8FAFD;
}

input:focus, textarea:focus {
  outline: 1px solid #0077FF;
}

.input-container {
  margin-left: 12px;
}

label {
  font-size: smaller;
  color: #0077FF;
}

@media screen and (min-width: 768px) {
  .custom-padding {
    padding-left: 32px;
    padding-right: 32px;
  }

  .custom-container {
    width: 96%;
  }
}